@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300:400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Josefin Sans",sans-serif;
    font-weight: 300;

}
html{
    font-size: 62.5%;   
}

.main-div{
   
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: aquamarine;
    background: url(image3.jpg) no-repeat center center fixed  ;
    background-image: cover;
    background-size:cover;
    
    
    width: 100%;
  
}
.inner-div
{
    margin-bottom: 20rem;
    margin-top: 20rem;
    background-color: #fff;
    padding-top: 2rem;
    
    box-shadow: 0.1rem 1rem  rgba(0,0,0,0.4);
    background:url(image.jpg) no-repeat center center fixed ;
    background-size:cover;
    border-radius: 10px;
}
.inner-div {
    width: 95%;
    height: 50%;
    
}

.inner-div h2{
    font-size: 20px;
    margin-left: 3rem;
    margin-right: 2rem;
    margin-top: 2rem;
   
    align-content: center;

}

.inner-div li{
    font-size: 15px;
    margin-top: 2rem;
    margin-left: 6rem;
    
    list-style: none;
    align-content: center;
}

input{
    cursor: pointer;
}
#submit,
.btn{
  padding: 1rem 3rem;
  outline: none;
  font-size: 2rem;
  align-content: center;
  font-size: 400;
  display:block;
  margin: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #74b9ff;
  margin-left: 5rem;
  margin-top: 4rem;
  border-radius: 5px;
  /* margin-left: 45rem; */
  align-items: center;

}

#submit:hover{
    background-color: #0984e3;
}


#showscore
{
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}
#showscore h3
{
    font-size: 3rem;
    text-align: center;
}
#showscore .btn{

    background-color: #55efc4;
    color: #fff;
    align-items: center;
    align-self: center;
    margin-left: 60rem;
    
}
#showscore .btn :hover{
    
    margin-top: 2rem;
    background-color: #55efc4;
    color: #2d3436;
}


.scorearea{
   display: contents;    

}
@media screen and (max-width: 480px) {
    .main-div{
   
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aquamarine;
        
        width: 100%;
    
      
    }
    .inner-div
    {
        /* margin-bottom: 5rem; */
        /* margin-top: 1rem; */
        background-color: #fff;
        padding-top: 2rem;
        
        
        background:url(back3.jpg) no-repeat center center fixed ;
        background-size:cover;
        border-radius: 5px ;
    }
    .inner-div {
        width: 90%;
        height: 80%;
    }
    
    .inner-div h2{
        font-size: 20px;
        margin-left: 3rem;
        margin-right: 2rem;
        margin-top: 2rem;
       
        align-content: center;
    
    }
    
    .inner-div li{
        font-size: 15px;
        margin-top: 2rem;
        margin-left: 6rem;
        
        list-style: none;
        align-content: center;
    }
    
    input{
        cursor: pointer;
    }
    #submit,
    .btn{
      padding: 1rem 2rem;
     
      margin: 5px 0;
      
      text-transform: uppercase;
      color: #fff;
      background-color: #74b9ff;
     
      margin-top: 4rem;
     
      margin-left: 13rem;
      align-items: center;
    
    }
    
    #submit:hover{
        background-color: #0984e3;
    }
    
    
    #showscore
    {
        background-color: #dfe6e9;
        margin-top: 3rem;
        padding: 3rem 4rem;
        box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
    }
    #showscore h3
    {
        font-size: 3rem;
        text-align: center;
    }
    #showscore .btn{
    
        background-color: #55efc4;
        color: #fff;
        align-items: center;
        align-self: center;
        margin-left: 7rem;
       
    }
    #showscore .btn :hover{
        
        margin-top: 2rem;
        background-color: #55efc4;
        color: #2d3436;
    }
    
    
    .scorearea{
       display: contents;    
    
    }
}